<div class="chart-wrapper mt-48">
    <div id="emotion-timeline"></div>

    @if(videoUrl && showScenes) {
    <div class="overlay">
        @for (scene of salientScenesData; track $index) {
        <div class="scene-marker" [style.left.px]="getPixelPosition(scene.time).x"
            [style.top.px]="getPixelPosition(scene.time).y - 260" [class.active]="hoveredIndex === $index"
            (mouseenter)="playScene($event, scene.time, $index)" (mouseleave)="stopScene($event)">
            <div class="bubble"
                [ngStyle]="{background: scene.positive == 1 ? ' rgba(0, 255, 0, 0.25)' : 'rgba(255, 0, 0, 0.25)'}">
                <video [src]="videoUrl" playsinline class="clip"
                    (loadedmetadata)="onVideoLoad($event, scene.time)" [muted]="true" [currentTime]="scene.time"></video>
                <div class="absolute top-2 right-2 text-white">({{ scene.time }}s)</div>
                <div class="absolute top-2 left-2 text-lg  emoji">
                    <!-- {{ getEmotionEmoji(scene) }} -->
                               @if (isEmojiAsset(scene)) {
        <img [src]="getEmotionEmoji(scene)" alt="emotion" class="w-6 h-6 object-contain" />
    } @else {
        <span>{{ getEmotionEmoji(scene) }}</span>
    }
                </div>
                <div class="bg-white mt-1 rounded-sm p-1">
                    <div class="flex items-center justify-between cursor-pointer" (click)="expandScene.set(!expandScene())">
                        <p>Description</p>
                        @if(expandScene()){
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
                        }
                        @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
                        }
                    </div>
                    @if(expandScene() && (hoveredIndex === $index)){
                        <p class="text-xxs text-left">{{ sceneSummaries[scene.time] || 'Loading...' }}</p>
                    }
                </div>
            </div>
                        <!-- @if(!(expandScene() && (hoveredIndex === $index))){ -->
            <div class="w-full flex justify-center">
                <div class="border border-dashed border-gray-500 h-76 w-[1px] opacity-[0.4]"></div>
            </div>
            <!-- } -->
        </div>
        }
    </div>
    }@else {
        @if(selectedParticipant.wh_mo_id == "All"){
                        <div class="overlay">
        @for (scene of salientScenesData; track $index) {
        <div class="scene-marker pointer-events-auto" [style.left.px]="getPixelPosition(scene.time).x"
            [style.bottom.px]="110">
            <div class="h-4 w-4 rounded-full"
                [ngStyle]="{background: scene.positive == 1 ? ' rgba(0, 255, 0, 0.7)' : 'rgba(255, 0, 0, 0.7)'}">
            </div>
        </div>
        }
    </div>
        }
    }
</div>